@font-face {
	font-family: 'Cousine';
	src: url('Cousine-Regular.ttf');
}

* {
	font-family: Cousine;
    table-align: center;
	text-align: center;
}

body {
    color: white;
    background-color: #424272;
    margin: 0;
}

h1 {
    display: inline;
	font-weight: normal;
    font-size: 35px;
}

h2 {
	display: inline;
	font-weight: normal;
    font-size: 25px;
}

.table_start {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.content {
    width: 320px;
    height: 200px;
    margin: 5px 15px;
    padding: 5px;
    border: 2px solid  black;
    border-radius: 15px;
    background-color: #393968;
    cursor: pointer;
    transition-duration: 0.5s;
}

.content:hover {
    transform: scale(1.08);
}

.content > div > .title {
    text-align: left;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #414179;
}

.content > div > .description {
    text-align: left;
}

.content > .category {
    color: gray;
    font-size: 15px;
    width: 100%;
    text-align: right;
}